/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 2, 2022, 2:25:21 PM
    Author     : 1315
*/

body {
    margin: 0;
}

.container {
    width: 940px;
    font-size: 12px;
    margin: 16px auto;
    border: 1px solid #333;
}
.container-create {
    width: 940px;
    font-size: 12px;
    margin: 16px auto;
    border: 1px solid #333;
}

.container-edit {
    width: 940px;
    font-size: 12px;
    margin: 16px auto;
    border: 1px solid #333;
}

.title {
    margin: 32px;
    font-size: 24px;
    font-weight: 800;
}

.toolbar {
    margin: 16px;
    padding: 16px;
    border: 1px solid #333;
}

.content {
    margin: 32px
}

@media screen and (max-width: 400px){
    
    .container-create {
    width: 940px;
    font-size: 12px;
    margin: 16px auto;
    border: 1px solid #333;
    }

    .container-edit {
      width: 940px;
      font-size: 12px;
      margin: 16px auto;
      border: 1px solid #333;
    }
    .container table,
    .container th,
    .container tr,
    .container td{
        display: block;
    }
    
    .container{
        width: 100%;
        margin: auto;
        border: none;
    }
    
    .container td:nth-child(1)::before{
        font-weight: bold;
        content: 'Category: ';
    }
    .container td:nth-child(2)::before{
        font-weight: bold;
        content: 'Waktu dibuat: ';
    }
    
    
    .container td:nth-child(3)::before{
        
        content: 'Action: ';
    }
    
    .container td:nth-child(3){
        background-color: #bdc3c7;
    }
    
    .container th{
        display: none;
    }
    
   
    
    
}